<configuration>
  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <http>
      <url>http://${LOKI_HOST:-loki}:3100/loki/api/v1/push</url>
      <batch>1000</batch>
      <timeoutMs>5000</timeoutMs>
    </http>
    <format>json</format>

    <labels>
      service=${springApplicationName:-app}
      level=%level
    </labels>
  </appender>

  <root level="INFO">
    <appender-ref ref="LOKI"/>
  </root>
</configuration>
